body {
    background: #020310;
    padding-top: 60px;
}

a {
    text-decoration: none;
}

.nav_main {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    background: #020310;
    box-shadow: 0 4px 50px 0 rgba(255, 242, 242, 0.05);

    display: flex;
    width: 100%;
    max-width: 1920px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 300px;
}

.nav_main a {
    color: #bfebff;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.nav_main a.active {
    font-size: 24px;
    font-weight: 700;
}

.img {
    width: 100%;
    height: 1080px;
    margin: 0 auto;
    height: auto;
    display: block;
}
