body {
    background: #020310;
    padding-top: 60px;
}

a {
    text-decoration: none;
}

p {
    color: #BFEBFF;
    font-family: Pretendard;
    font-style: normal;
    line-height: normal;
}

.nav_main {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    background: #020310;
    box-shadow: 0 4px 50px 0 rgba(255, 242, 242, 0.05);

    display: flex;
    width: 100%;
    max-width: 1920px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 300px;
}

.nav_main a {
    color: #bfebff;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.nav_main a.active {
    font-size: 24px;
    font-weight: 700;
}

.img {
    width: 100%;
    height: 1080px;
    margin: 0 auto;
    height: auto;
    display: block;
}

.name {
    font-size: 36px;
    font-weight: 600;
}

.title {
    font-size: 24px;
    font-weight: 600;
}

.text {
    margin: 3px 0;
    font-size: 16px;
    font-weight: 400;
}

.text_s {
    margin: 6px 0;
    font-size: 10px;
    font-weight: 400;
}

.box {
    margin: 100px 300px;
    display: flex;
    align-items: center; 
    gap: 25px;       
    /* justify-content: center;
    align-items: center; */
}

.award {
    margin: 100px 300px;
    align-items: center; 
    gap: 25px;   
}

.award_item {
    display: flex;
}

.award_item_p {
    display: flex;
    margin-right: 200px;
}

.award_text {
    margin: 0 10px;
    flex-direction: row; 
}

.namo1 {
    width: 104px;
    height: 137px;
    border: 2px solid white; 
}

.namo2 {
    width: 40px;
    height: 40px;
    border: 1px solid white;
}