:root {
    --bg: #F7F9FD;
    --text: #000;
    --bg_rgb: 247, 249, 253;
    --text_rgb: 0, 0, 0;
}

p {
    color: var(--text);
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
    font-style: normal;
    line-height: 1.6;
}

hr {
    margin-top: 100px;
    border: none;
    height: 1px;
    background-color: rgba(var(--text_rgb), 0.6);
}

.text {
    font-size: clamp(12px, 1vw, 18px);
    background-color: var(--bg);
    color: var(--text);
    appearance: none;
}

.text_tag {
    font-size: clamp(12px, 1vw, 18px);
    background-color: var(--bg);
    color: var(--text);
    appearance: none;
}

.tag {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.text_tag:hover {
    cursor: pointer;
}

.prjs {
    margin: 0 auto;
    /* margin-top: 30px; */
    max-width: 900px;
    align-items: center;
}

.prj_s {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* gap: 50px; */
    flex-wrap: wrap;
}

.prj {
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
}

.prj:hover {
    cursor: pointer;
}

.img {
    margin-bottom: 5px;
    height: 141px;
    width: 250px;
}

.box {
    margin: 60px auto;
    margin-bottom: 100px;
    padding: 0 100px;
    max-width: 1000px;
    display: flex;
    align-items: center;
    gap: 25px;
}

.award {
    margin: 60px auto;
    margin-bottom: 100px;
    padding: 0 100px;
    max-width: 1000px;
}

.award_item {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.award_item_p {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    flex: 1;
    min-width: 250px;
}

.icon {
    width: 28px;
    height: 28px;
    color: var(--text);
    fill: currentColor;
}


@media (prefers-color-scheme: dark) {
    :root {
        --bg: #020310;
        --bg_rgb: 2, 3, 16;
        --text: #BFEBFF;
        --text_rgb: 191, 235, 255;
    }
}

@media (max-width: 916px) {
    .prj_s {
        justify-content: center;
        gap: 30px;
        align-items: center;
        flex-wrap: wrap;
    }
}

@media (max-width: 768px) {
    body {
        padding-top: 70px;
    }

    .prj_s {
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }
}

@media (max-width: 480px) {
    body {
        padding-top: 60px;
    }

    .prj_s {
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }
}