:root {
    --bg: #F7F9FD;
    --text: #000;
    --bg_rgb: 247, 249, 253;
    --text_rgb: 0, 0, 0;
    --point: #1F45C3;
    --point_rgb: 31, 69, 195;
}

p {
    color: var(--text);
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
    font-style: normal;
    line-height: 1.6;
    font-size: 10px;
}

.prj {
    margin: 64px 347px 0 347px;
}

.title {
    color: var(--text);

    /* H1-bold */
    font-family: Pretendard;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    /* 120% */
    align-self: stretch;
}

.ex {
    width: 1345px;
    color: var(--text);

    /* H3_tab */
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #020310;
        --bg_rgb: 2, 3, 16;
        --text: #BFEBFF;
        --text_rgb: 191, 235, 255;
        --point: #1F45C3;
        --point_rgb: 31, 69, 195;
    }
}